* {
	box-sizing: border-box;
}

body {
	background: black;
	font-family: Arial, Helvetica, sans-serif;
}

.card {
	width: 600px;
	margin: 100px auto;
	background: white;
	border-radius: 10px; /* Bordes redondeados */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para darle profundidad */
	padding: 20px;
}

.header {
	display: flex;
	justify-content: space-between; /* Espacio entre título y logo */
	align-items: center;
	padding-bottom: 10px;
	border-bottom: 2px solid #f0f0f0;
}

.header img {
	height: 70px;
}

.header h1 {
	font-size: 24px; /* Tamaño del título */
	margin: 0;
}

.body {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.body .left,
.body .right {
	width: 48%;
	padding: 10px;
}

.body .left {
	font-size: 14px;
	line-height: 1.6; /* Mejorar la legibilidad */
}

.body .right input {
	width: 100%;
	padding: 10px;
	margin: 5px 0;
	border: 1px solid #bdbdbd;
	border-radius: 5px; /* Bordes redondeados */
	font-size: 14px;
	background-color: #f9f9f9;
}

input::placeholder {
	color: #999; /* Color para el placeholder */
}

.footer {
	text-align: center;
	padding-top: 20px;
}

button {
	background-color: #007bff;
	color: white;
	padding: 10px 20px;
	font-size: 14px;
	border: none;
	border-radius: 5px; /* Bordes redondeados */
	cursor: pointer;
	transition: background-color 0.3s ease; /* Animación en el hover */
}

button:hover {
	background-color: #0056b3; /* Cambia de color cuando pasas el ratón */
}
